#wrap {
  width: 100%;
}
#wrap #main.main4 {
  width: 100%;
}
#wrap #main.main4 #banner {
  width: 100%;
}
#wrap #main.main4 #banner .container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}
#wrap #main.main4 #banner .container .title {
  width: 100%;
}
#wrap #main.main4 #banner .container .title h2 {
  font-size: 30px;
  text-align: center;
}
#wrap #main.main4 #banner .container .content {
  width: 100%;
}
#wrap #main.main4 #banner .container .content ul.banner-list {
  width: 100%;
}
#wrap #main.main4 #banner .container .content ul.banner-list li {
  width: 100%;
  padding: 10px 0;
}